<section class="page row" id="instructions">
  <div class="small-12 columns">
    <h1>Instructions</h1>

    <h2>Login</h2>
    <p>Login is handled with the Persona Observer API.</p> 
    <p>The app lets Persona manage user state between page refreshes and displays a wait message while 
      synchronization happens. Because routing should otherwise be handled by the client application,
      this screen should really only be seen by a user when they first visit the app.
    </p>
    <p>To see this screen in action, refresh any page. To force a delay add <a href="?personaLagMs=3000">?personaLagMs=3000</a> or some other
      millisecond value to the url.
    </p>
  </div>
</section>
