<section class="page row" id="instructions">
  <div class="small-12 columns">
    <h1>Instructions</h1>

    <p>By and large, interacting with the app and viewing the source will be the best way to understand it.
      However, additional notes are provided below to help provide context for the project.
    </p>

    <h2>Login</h2>
    <p>Login is handled with the Persona Observer API.</p> 
    <p>The app lets Persona manage user state between page refreshes and displays a wait message while 
      synchronization happens. Because routing should otherwise be handled by the client application,
      this screen should really only be seen by a user when they first visit the app.
    </p>
    <p>To see this screen in action, refresh any page. To force a delay add <a href="?personaLagMs=3000">?personaLagMs=3000</a> or some other
      millisecond value to the url.
    </p>

    <h2>Route handling</h2>
    <p>Routes are handled by Backbone.Router using HTML5 pushState support where available. The client app is
      served from most urls without any server-side rendering, at this point. This has several drawbacks, and 
      alternatives can be explored in future iterations of this sandbox.
    </p>

    <h2>Templates</h2>
    <p>Templating uses precompiled nunjucks templates. clientapp/templates.js is a thin wrapper over the nunjucks API to
      conform to the convention set forth in Human Javascript.
    </p>
  </div>
</section>
