<section class="page row" id="welcome">
  <div class="small-12 columns">
    <h1>Welcome</h1>
    <p>Welcome to Moonboots Sandbox!</p>
    <p>
      This project is an exploration of using:
      <ul>
        <li><a href="https://github.com/henrikjoreteg/moonboots" target="_blank">moonboots</a></li>
        <li><a href="http://backbonejs.org/" target="_blank">backbone.js</a></li>
        <li><a href="https://github.com/henrikjoreteg/human-view" target="_blank">human-view</a></li>
        <li><a href="https://github.com/henrikjoreteg/human-model" target="_blank">human-model</a></li>
        <li><a href="http://jlongster.github.io/nunjucks/" target="_blank">nunjucks</a></li>
        <li><a href="https://developer.mozilla.org/en-US/Persona/The_navigator.id_API#The_Observer_API" target="_blank">the Persona Observer API</a></li>
        <li><a href="http://foundation.zurb.com/" target="_blank">Foundation</a></li>
      </ul>
      together in some sort of sane fashion.
    </p>
    <p>It was inspired by the book <a href="http://humanjavascript.com/" target="_blank">Human Javascript</a>
      and follows many of the conventions set forth therein.
    </p>
  </div>
</section>
