<div>
  <header>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Moonboots Sandbox</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="#" data-page="welcome">Welcome</a></li>
          <li><a href="#" data-page="instructions">Instructions</a></li>
          <li><a href="#" data-page="todo">To-do app</a></li>
        </ul>
        <ul class="right">
          <li class="has-dropdown">
            <a>Hello, <span class="username"></span></a>
            <ul class="dropdown">
              <li><a class="login" href="#">Log in</a></li>
              <li><a class="logout" href="#">Log out</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </header>
  <section id="pages" style="position: relative;">
  <a href="https://github.com/stenington/mozboots"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  </section>
</div>
